{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}公告详情{% endblock title %}


<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container" id="main" style="margin-top: 56px">
	<div class="container">
		<h1 class="text-primary">{{ bulletin.title }}</h1>
        <small>{{ bulletin.time }}</small>
        <hr class="my-4">
		<p>{{ bulletin.body | safe }}</p>
	</div>
</div>
{% endblock content %}