asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
bcrypt==3.1.7
bitarray==1.0.1
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
cryptography==2.7
Django==2.2.4
django-ckeditor==5.7.1
django-hitcount==1.3.1
django-js-asset==1.2.2
django-redis==4.10.0
django-tracking2==0.5.0
et-xmlfile==1.0.1
grpcio==1.25.0
grpcio-tools==1.25.0
idna==2.8
importlib-metadata==0.19
jdcal==1.4.1
Katari==0.0.6
more-itertools==7.2.0
openpyxl==2.3.4
packaging==19.1
paramiko==2.10.1
pluggy==0.12.0
protobuf==3.11.1
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
PyMySQL==0.9.3
PyNaCl==1.3.0
PyParse==1.1.7
pyparsing==2.4.2
pytest==5.1.0
pytz==2019.2
redis==3.3.8
requests==2.22.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
wcwidth==0.1.7
wincertstore==0.2
WMI==1.4.9
xlrd==1.2.0
xlwt==1.3.0
zipp==0.5.2
